 <div class="panel panel-primary">
                <div class="panel-heading">分类列表</div>
                <div class="panel-body">
                    {% for catablog in catablog_list   %}
                    <p>{{ catablog.title }}({{ catablog.article_set.all.count }})</p>
                    {% endfor %}

                </div>
            </div>

         <div class="panel panel-success">
                <div class="panel-heading">标签列表</div>
                <div class="panel-body">
                    {% for tag in tag_list   %}
                    <p>{{ tag.title }}({{ tag.c}})</p>
                    {% endfor %}
                </div>
            </div>

         <div class="panel panel-success">
                <div class="panel-heading">时间分类列表</div>
                <div class="panel-body">
                    {% for time_a in time_art_list   %}
                    <p>{{ time_a.archive_ym }}({{ time_a.c}})</p>
                    {% endfor %}

                </div>


            </div>